use flake
watch_file "taskd.cabal"
cabal2nix . > new-default.nix
if ! diff new-default.nix default.nix &>/dev/null; then
    mv new-default.nix default.nix
    direnv reload &>/dev/null
    echo -e '\033[1;33m'
    echo '================== default.nix HAS CHANGED! =================='
    echo
    echo '               Hit ENTER to reload environment                '
    echo
    echo '=============================================================='
    echo -e "\033[0m"
else
    rm new-default.nix
fi
